# Node
node_modules/
npm-debug.log

# Playwright
playwright-report/
test-results/
playwright/.cache/

# Auth files
.auth/
storage-state-*.json
*.auth.json

# Environment
.env
.env.local

# OS & IDEs
.DS_Store
.vscode/
    !.vscode/settings.json
    !.vscode/tasks.json
    !.vscode/launch.json
    !.vscode/extensions.json
.idea/

# Screenshots/videos temporários
*screenshots/
*videos/
*trace*/
*.trace.zip

# TypeScript
*.tsbuildinfo

# Logs
*.log